body {
    /*background-image:url("images/background.png");*/
    background-color:#45362D;
}

body.page {
	background-image:url('images/page-shadow.png');
	background-repeat:repeat-y;
	background-position:center;
	margin-top: 0px
}



.contentWrapper 
{
	width: 740px;
	height: 477px;
	background-image: url("images/card-shadow.png");
	background-repeat: no-repeat;
	margin-top: 20px;
	padding: 20px;
}

.container
{
    height: 437px;
    width: 700px;
    border: 1px solid;
    border-color:#5D6662;
}

.content {
	background-color: #E6E7E2;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

table.content {
	width:700px;
}

table.fill {
	 width:100%;
}

p.navigation {
	margin-top: 0px;
}
h2.navigation {
	margin-bottom: 4px;
}

#data {
	border-collapse:collapse;
}

#data td, #data th {
	font-size:1em;
	border:#3D3632 1px solid;
	padding:3px 7px 2px 7px;
}
#data th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#3D3632;
	color:#A9AD9C
}

td {
	vertical-align:top;
}

td#content {
	padding-top:10px;
}

div.container {
	margin-top: 0px;
}


h1,h2,h3,h4,p,div {
	 font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#diary p {
	margin-top:2px;
	margin-bottom:2px;
}

#diary h4 {
	margin-bottom:2px;
	font-style:italic;
}

h1.title{
	font-size:xx-large;
}


.header {
    text-align: center;
}


#dateWrapper {
    font-size:small;   
    text-align:center;
}

#numbersWrapper {
    width:500px;
}

.dateBlocks {
    display:inline;
}

#countdownTitle {
    margin:0px;
}

.numbers {
    text-align:center;
    padding:5px;
    width:70px;
    display:inline-block;
}
